* {
margin: 0;
padding: 0;
}
header{
    background-color: #7272dd;
    color: white;
    display: flex;
}
.headerlist{
  list-style-type: none;
  display: flex;
  gap: 200px;
}
.headerlist li a{
    text-decoration: none;
    color: white;
}
.herosection{
    background-color: black;
    color : white;
    padding: 125px;
}
.hallohi{
    font-size: 50px;
}
.navbar{
    padding: 20px;
    margin-left: 100px;
}
.blocks {
   position:absolute;
   width: 100px;
    height: 20px;
}
.block01,
.block02,
.block03{
    width: 25px;
    height: 10px;
    top: 0px;

}
.block01{
    position: absolute;
    background-color: #9000ff;
}

.block02{
    background-color: #55559f;
    position:absolute;
    left : 30px;
}
.block03{
    position: absolute;
    background-color: #b0b0eb;
    left: 60px;
}
